{% extends "../base.html" %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="" class="current">Host</a>
        </div>
        <h1>主机添加</h1>
    </div>
    <div class="container-fluid"><hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>主机信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="" name="basic_validate" id="basic_validate" novalidate="novalidate">
                            {% raw xsrf_form_html() %}
                            <div class="control-group">
                                <label class="control-label">IP*</label>
                                <div class="controls">
                                    <input class="form-control" id="obj__ip" name="obj__ip" type="text" placeholder="IP，必填，匹配正则 ^((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)\.){3}(25[0-5]|2[0-4]\d|1\d{2}|[1-9]?\d)$">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">操作系统</label>
                                <div class="controls">
                                    <input class="form-control" id="obj__os_version" name="obj__os_version" type="text" placeholder="操作系统">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">机房</label>
                                <div class="controls">
                                    <select class="form-control" id="obj__room_id" name="obj__room_id">
                                        {% for room in rooms %}
                                        <option value="{{ room.id }}">{{ room.room_name }}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">机柜</label>
                                <div class="controls">
                                    <select class="form-control" id="obj__cabinet_id" name="obj__cabinet_id">
                                        {% for cabinet in cabinets %}
                                        <option value="{{ cabinet.id }}">{{ cabinet.cabinet_number }}</option>
                                        {% end %}

                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">位置</label>
                                <div class="controls">
                                    <input class="form-control" id="obj__position" name="obj__position" type="text" placeholder="起止U数">    例如：1-2为2U， 3-4为2U， 5-5为1U
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">状态</label>
                                <div class="controls">
                                    <select class="form-control" id="obj__status" name="obj__status">
                                        <option value="normal">正常</option>
                                        <option value="down">关机</option>
                                        <option value="offline">下线</option>
                                        <option value="repair">维修</option>
                                        <option value="unknown">未知</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions" style="text-align:center;">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block footer %}
    <script>
        function goBack() {
            location.href=document.referrer;
        }
    </script>

{% end %}