{% extends "../base.html" %}
{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> 
            <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="" class="current">business</a>
        </div>
        <h1>优购物业务-详情页</h1>
    </div>

    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title0">登录-小时可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="gauge0" class="bars" style="height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title1">登录-日可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="gauge1" class="bars" style="height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title2">登录-周可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="gauge2" class="bars" style="height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title3">登录-月可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="gauge3" class="bars" style="height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title4">登录-日可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="bars0" class="bars"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title5">登录-周可用图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="bars1" class="bars"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-signal"></i> </span>
                    <h5 id="title6">登录-月可用率图</h5>
                    </div>
                    <div class="widget-content">
                        <div id="bars2" class="bars"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block footer %}
<script src="/js/echarts.min.js"></script>
<script>
    function get_data_gauge(data) {
        options = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            series: [
                {
                    name: '业务指标',
                    type: 'gauge',
                    splitNumber: 10,       // 分割段数，默认为5
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            //color: [[0.2, '#C23531'], [0.8, '#63869E'], [1, '#91C7AE']],
                            color: [[0.9, '#C23531'], [1, '#91C7AE']],
                        }
                    },
                    min:0,
                    max:100,
                    //center : ['50%', '50%'],    // 默认全局居中
                    radius : '85%',
                    detail: {formatter: '{value}%'},
                    data: data
                }
            ]


        };

        return options;
    }


    function get_data_bar(data) {
        options = {
            title: {
                //text: '可用率',
                //subtext: '%'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['可用率']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: data[0],
                    splitLine: {
                        show: false             //背景格线不显示
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    splitLine: {
                        show: false             //背景格线不显示
                    }
                }
            ],
            series: [
                {
                    //name: '可用率',
                    type: 'bar',
                    barWidth:15,
                    data: data[1],
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    },
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                var colorList = [];
                                for(var i=0;i<data[1].length;i++) {
                                    if (data[1][i] <= 95) {
                                        colorList[i] = '#C23531';
                                    }
                                    else {
                                        colorList[i] = '#91C7AE';
                                    }
                                }
                                //var colorList = ['#C23531', '#91C7AE']
                                return colorList[params.dataIndex]

                            },
                            label: {show: true, position: 'top'}
                        }
                    },
                }
            ]
        };
        return options;
    }
    var item = "{{item}}";
    function getData(item) {
        $.ajax({
            url: '/api/business_data/' + item,
            dataType: 'json',
            beforeSend: function () {

            },
            success: function (res) {
                $("#title0").empty().append(res['title'] + '-小时可用图');
                $("#title1").empty().append(res['title'] + '-日可用图');
                $("#title2").empty().append(res['title'] + '-周可用图');
                $("#title3").empty().append(res['title'] + '-月可用图');
                $("#title4").empty().append(res['title'] + '-日可用图');
                $("#title5").empty().append(res['title'] + '-周可用图');
                $("#title6").empty().append(res['title'] + '-月可用图');

                echarts.init(document.getElementById('gauge0')).setOption(get_data_gauge([{value: res['gauge'][0], name: res['gauge_title'][0]}]));
                echarts.init(document.getElementById('gauge1')).setOption(get_data_gauge([{value: res['gauge'][1], name: res['gauge_title'][1]}]));
                echarts.init(document.getElementById('gauge2')).setOption(get_data_gauge([{value: res['gauge'][2], name: res['gauge_title'][2]}]));
                echarts.init(document.getElementById('gauge3')).setOption(get_data_gauge([{value: res['gauge'][3], name: res['gauge_title'][3]}]));

                echarts.init(document.getElementById('bars0')).setOption(get_data_bar([res['bar_day_x'], res['bar_day']]));
                echarts.init(document.getElementById('bars1')).setOption(get_data_bar([res['bar_week_x'], res['bar_week']]));
                echarts.init(document.getElementById('bars2')).setOption(get_data_bar([res['bar_month_x'], res['bar_month']]));
            },
            error: function () {
                alert("数据加载失败");
            }
        });
    }
    getData(item);
</script>
{% end %}
